<h1>Builders</h1>
<p>Help &gt; Builders</p>


<h2>Intro</h2>
<p>
Builders are Haiku systems of various architectures that perform continious building of recipies into packages based on the orchestration of HaiKeuken.
</p>

<h2>Setting up a builder</h2>
Once an administrator provides you a token for your <i>builder</i>, you will need to follow the following steps to provision your <i>builder</i>:
<ol>
<li>Download the <a href='/client.rb'>buildscript</a> on your Haiku system</li>
<li>Create the client yaml configuration at ~/settings/haikeuken.yaml</li>
<li>Execute the builder</li>
</ol>
