<h2>Builders</h2>
<p><%= link_to 'Help', :help %> &gt; Builders</p>


<h3>Intro</h3>
<p>
Builders are Haiku systems of various architectures that perform continious building of recipies into packages based on the orchestration of HaiKeuken.
</p>

<h3>Setting up a builder</h3>
<p>
Once an administrator provides you a token for your <i>builder</i>, you will need to follow the following steps to provision your <i>builder</i>:
<ol>
<li>Download the <a href='/client.rb'>buildscript</a> on your Haiku system</li>
<li>Create the client yaml configuration at ~/settings/haikeuken.yaml</li>
<li>Execute the builder script.</li>
</ol>
</p>
