.pagination { margin-top: 5px; float: right; } 
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; text-decoration: underline; color: #000099; background-color: #dbc088; } 
.pagination a:hover, 
.pagination a:active { padding: 2px 5px 2px 5px; margin: 2px; color: #dc3c01; background-color: #dbc088; } 
.pagination em.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; background-color: #d43e3e; color: #FFF; } 
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; text-decoration: none; background-color: #dbc088; }
